 body {
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
    }
.navbar .nav-link {
        color: white ;
       }

       .navbar .nav-link:hover {
        color: #00D4FF; 
       }
       .navbar{
        background-color: #7796cc;
       }
       .navtext{
         color: aliceblue;
         font-weight: bold;
         position: relative;
         left: 250px;
       }
       .navbar-collapse{
        position: relative;
        left: 600px;
       }
    h1{
      color: whitesmoke;
      font-weight: 100%;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .plmun{
      width: 50%;
      height: 100%;
      border-radius: 25px;
    }
    .plmun-text, .shs-text, .elem-text{
      text-align: center;
      background-color: white;
      color: black;
      border-radius: 10px;  

    }
    .shs, .elem{
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
    /*swiper*/

 swiper-container {
      width: 240px;
      height: 320px;
    }

    swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    swiper-slide:nth-child(1n) {
      background-color: rgb(206, 17, 17);
    }

    swiper-slide:nth-child(2n) {
      background-color: rgb(0, 140, 255);
    }

    swiper-slide:nth-child(3n) {
      background-color: rgb(10, 184, 111);
    }

    swiper-slide:nth-child(4n) {
      background-color: rgb(211, 122, 7);
    }

    swiper-slide:nth-child(5n) {
      background-color: rgb(118, 163, 12);
    }

    swiper-slide:nth-child(6n) {
      background-color: rgb(180, 10, 47);
    }

    swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }

    @media (max-width: 1920px) {
        .main_containerweb{
          display: block;
        }
        .maincontainer-mobile{
          display: none;
        } 
      }

    /*MOBILE CSS*/
    .navmobile{
      background-color: #7796cc;
     }
     .offcanvas-body{
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
     }
     .navbar-toggler, 
     .btn-close{
      background-color: #fbc2eb;
      color: #a6c1ee;
     }
     .offcanvas-header{
      color: whitesmoke;
      background-color: #7796cc;
     }
     .mble_pic, 
     .mble_picShs,
     .mble_elem{
       height: 100%;
       width: 100%;
       border-radius: 10px;
       opacity: 0;
       transform: translateY(-50px); /* Start above */
      animation: dropdown 0.7s ease forwards;
     }  
     
     /*WebText_IMG // mobileTXT transition*/
     .plmun,
     .shs,
     .elem,
     .text,
     .text2,
     .text3,
     .plmun-text,
     .shs-text,
     .elem-text{
      transform: translateY(-50px); /* Start above */
      animation: dropdown 0.9s ease forwards;
     }
     
     @keyframes dropdown {
     to {
    opacity: 1;
    transform: translateY(0); /* Drop to normal place */
       }
    }
    

    @media (max-width: 768px){
        .maincontainer-mobile{
          display: block;
        }
        .main_containerweb{
          display: none;
        }
      }