body{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.navbar .nav-link {
        color: white ;
       }

       .navbar .nav-link:hover {
        color: #00D4FF; 
       }
       .navbar{
         background-color: #7796cc;
       }
       .navtext{
         color: aliceblue;
         font-weight: bold;
         position: relative;
         left: 250px;
       }
       .navbar-collapse{
        position: relative;
        left: 600px;
       }
       /*form*/
      .email{
        width: 50px;
        height: 50px;
        position: relative;
        left: 60px;  
        bottom: 10px;
      }
      .call{
        width: 50px;
        height: 50px;
        position: relative;
        right:  235px;  
        top: 50px;
      }
      .calltxt{
         position: relative;
        right:  260px;  
        top: 65px;
      }
      .btn{
        position: relative;
        margin-top: 10px;
      }
      form {
      background-image: linear-gradient(to top, #330867 0%,  #30cfd0 100%);
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }

    form label {
      font-weight: bold;
      margin-bottom: 4px;
      display: block;
      color: #333;
    }

    form input,
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 4px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      transition: border 0.3s;
    }

    form input:focus,
    form textarea:focus {
      border-color: #007bff;
      outline: none;
    }

    form button {
      width: 100%;
      padding: 12px;
      background: #7796cc;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s;
    }

    

    @media(max-width: 1920px){
      .con_web{
        display: block;
      }
      .con_mble{
        display: none;
      }
    }
    @media(max-width: 768px){
      .con_mble{
        display: block;
      }
      .con_web{
        display: none;
      }
    }
    .navmobile{
      background-color: #7796cc;
     }
     .offcanvas-body{
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
     }
     .navbar-toggler, 
     .btn-close{
      background-color: #fbc2eb;
      color: #a6c1ee;
     }
     .offcanvas-header{
      color: whitesmoke;
      background-color: #7796cc;
     }
    .email_mble{
      width: 50px;
      position: relative;
      right: 100px;
      
    }
    .call_mble{
      width: 50px;
      position: relative;
      right: 100px;
    }
    .txt_mble{
      position: relative;
      left: 55px;
      bottom: 40px;
    }