      body{ 
         background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
      }
      .gradpic{
          height: 60%;
          width: 60%;
          border: 2px solid white;
          border-radius: 50%;
        }

        .navbar .nav-link {
          color: white ;
        }

        .navbar .nav-link:hover {
          color: #00D4FF; 
        }
        .navbar{
          background-color: #7796cc;
          
        }
        .navtext{
          color: aliceblue;
          font-weight: bold;
          position: relative;
          left: 250px;
          
        }
        .navbar-collapse{
          position: relative;
          left: 600px;
        }
        .txt{
          color: black;
        }


      /*swiper */

    swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      swiper-slide {
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to top, #330867 0%,  #30cfd0 100%);
        border-radius: 25px;
        width: 250px;
        height: 250px;
      }

      swiper-slide img{
        display: block;
        width: 100%;
        
      }

      @media (max-width: 1920px) {
        .main_containerweb{
          display: block;
        }
        .maincontainer-mobile{
          display: none;
        }
      }

      .text{
      transform: translateY(-50px); /* Start above */
      animation: dropdown 0.9s ease forwards;
      }
      @keyframes dropdown {
     to {
     opacity: 1;
     transform: translateY(0); /* Drop to normal place */
       }
    }
     /*MOBILE CSS*/
     .navmobile{
      background-color: #7796cc;
     }
     .offcanvas-body{
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
     }
     .navbar-toggler, 
     .btn-close{
      background-color: #fbc2eb;
      color: #a6c1ee;
     }
     .offcanvas-header{
      color: whitesmoke;
      background-color: #7796cc;
     }
     .mobilepic {
      height: 60%;
      width: 60%;
      border-radius: 50%;
      animation: coinspin 5s linear infinite;
      transform-style: preserve-3d;
    }
    @keyframes coinspin {
       0%   { transform: rotateY(0deg); }
       40%  { transform: rotateY(180deg); }  
       50%  { transform: rotateY(180deg); }  
       90%  { transform: rotateY(360deg); }  
       100% { transform: rotateY(360deg); }  
   }
   


      @media (max-width: 768px){
        .maincontainer-mobile{
          display: block;
        }
        .main_containerweb{
          display: none;
        }
      }
